*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
}

.one{
    background-image: url(i.webp);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
}
.btn{
    height: 150px;
    width: 150px;
    border-radius: 500px;
    text-align: center;
    margin-top: 60px;
    align-items: center;
    display: flex;
    justify-content: center;
    background: linear-gradient(135deg, #FFD700, #D4AF37, #B8860B);
    cursor: pointer;
    transition: all 0.3s ease;
}
.btn:hover{
    transform: translateY(-2px);
    box-shadow: 
    0 8px 20px rgba(184, 134, 11, 0.6),
    inset 0 2px 6px rgba(255, 255, 255, 0.4);
}
.btn:active {
  transform: translateY(0);
}
a{
    color: #5a3e0f;
    text-decoration: none;
    font-size: 20px;
}



.two {
    background: linear-gradient(to bottom, #b2dafd, #cfe9ff, #a3cbe6);
    display: flex;
    justify-content: center;
    align-items: center;
}
div{
    position: relative;
    height: 90%;
    width: 90%;
    background-color: #ddefff;
    border: 2px solid #b3ddf9;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
#photo{
    width: 75%;
    height: 90%;
    object-fit: contain;
}
#next{
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    background-color: #2c5c99;
    color: white;
    font-size: 20px;
    font-weight: bold;
    border: 2px solid #b3ddf9;
    border-radius: 4px; 
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: all 0.2s;
}
#next:hover {
    background-color: #1e4a7d;
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

@media(max-width: 768px){
    div{
        width: 95%;
        max-height: 400px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }
    #photo{
        width: 90%;
        max-height: 250px;
        object-fit: contain;
    }
    #next{
        width: 36px;
        height: 36px;
        font-size: 18px;
        position: static;
        margin-top: 20px;
    }
}









